# cargo config
os/Cargo.lock
user/Cargo.lock
os/src/linker.ld

# IDE config
.idea/
.vscode/

# kernel build
os/target/

# user programs build
user/riscv64/
user/target/

# a copy of user programs debug build in "user/target/*"(for gdb)
os/user/

# for virt_root
user/virt_root/

# unsorted
os/src/link_app.S
os/last-*
tools/
user/busybox_lua_testsuites/busybox_unstripped
user/.ccls-cache/
